In [1]:

# loading important modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import *
from imblearn.over_sampling import SMOTE
import itertools

%matplotlib inline
matplotlib.style.use('ggplot')

In [33]:
sales_data = pd.read_csv("SalesKaggle3.csv")

In [34]:
sales_data.head()

,Order,File_Type,SKU_number,SoldFlag,SoldCount,MarketingType,ReleaseNumber,New_Release_Flag,StrengthFactor,PriceReg,ReleaseYear,ItemCount,LowUserPrice,LowNetPrice
0,2,Historical,1737127,0.0,0.0,D,15,1,682743.0,44.99,2015,8,28.97,31.84
1,3,Historical,3255963,0.0,0.0,D,7,1,1016014.0,24.81,2005,39,0.00,15.54
2,4,Historical,612701,0.0,0.0,D,0,0,340464.0,46.00,2013,34,30.19,27.97
3,6,Historical,115883,1.0,1.0,D,4,1,334011.0,100.00,2006,20,133.93,83.15
4,7,Historical,863939,1.0,1.0,D,2,1,1287938.0,121.95,2010,28,4.00,23.99

In [35]:
sales_data.shape

(198917, 14)

In [36]:
sales_data.isna().sum()

Order                    0
File_Type                0
SKU_number               0
SoldFlag            122921
SoldCount           122921
MarketingType            0
ReleaseNumber            0
New_Release_Flag         0
StrengthFactor           0
PriceReg                 0
ReleaseYear              0
ItemCount                0
LowUserPrice             0
LowNetPrice              0
dtype: int64

In [37]:
sales_data['SoldFlag'].value_counts()

0.0    63000
1.0    12996
Name: SoldFlag, dtype: int64

In [38]:
from sklearn.preprocessing import LabelEncoder

In [39]:
marketing = LabelEncoder()

In [40]:
file = LabelEncoder()

In [41]:
sales_data['MarketingType'] = marketing.fit_transform(sales_data['MarketingType'].values)

In [42]:
sales_data['File_Type'] = file.fit_transform(sales_data['File_Type'].values)

In [43]:
sales_data.head()

,Order,File_Type,SKU_number,SoldFlag,SoldCount,MarketingType,ReleaseNumber,New_Release_Flag,StrengthFactor,PriceReg,ReleaseYear,ItemCount,LowUserPrice,LowNetPrice
0,2,1,1737127,0.0,0.0,0,15,1,682743.0,44.99,2015,8,28.97,31.84
1,3,1,3255963,0.0,0.0,0,7,1,1016014.0,24.81,2005,39,0.00,15.54
2,4,1,612701,0.0,0.0,0,0,0,340464.0,46.00,2013,34,30.19,27.97
3,6,1,115883,1.0,1.0,0,4,1,334011.0,100.00,2006,20,133.93,83.15
4,7,1,863939,1.0,1.0,0,2,1,1287938.0,121.95,2010,28,4.00,23.99

In [44]:
sales_data.dropna(inplace=True)

In [45]:
sales_data.shape

(75996, 14)

In [ ]:
f, ax = plt.subplots(figsize=(16, 8))
corr = sales_data.corr()
sns.heatmap(corr, 
            xticklabels=corr.columns.values,
            yticklabels=corr.columns.values)

In [49]:
x = sales_data.drop(sales_data[['SoldFlag','ReleaseYear']],axis=1)
y = sales_data['SoldFlag']

In [62]:
x.head()

,Order,File_Type,SKU_number,SoldCount,MarketingType,ReleaseNumber,New_Release_Flag,StrengthFactor,PriceReg,ItemCount,LowUserPrice,LowNetPrice
0,2,1,1737127,0.0,0,15,1,682743.0,44.99,8,28.97,31.84
1,3,1,3255963,0.0,0,7,1,1016014.0,24.81,39,0.00,15.54
2,4,1,612701,0.0,0,0,0,340464.0,46.00,34,30.19,27.97
3,6,1,115883,1.0,0,4,1,334011.0,100.00,20,133.93,83.15
4,7,1,863939,1.0,0,2,1,1287938.0,121.95,28,4.00,23.99

In [32]:
# Splitting the historical and active state
sales_data_hist = sales_data[sales_data['File_Type'] == 1]
sales_data_act = sales_data[sales_data['File_Type'] == 0]

In [50]:
from sklearn.decomposition import PCA

In [51]:
pca = PCA(n_components=2)
features = pca.fit(x)

In [64]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.1)

In [70]:
from sklearn.linear_model import LogisticRegression

In [72]:
lr = LogisticRegression()

In [74]:
lr_model = lr.fit(x_train,y_train)

In [75]:
s = lr_model.score(x_test,y_test)
s

0.8256578947368421

In [65]:
rf= RandomForestClassifier(n_estimators=25)

In [66]:
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=25, n_jobs=1,
            oob_score=False, random_state=12, verbose=0, warm_start=False)

In [67]:
y_pred = rf.predict(x_test)

In [69]:
s = rf.score(x_test,y_test)
s

1.0